:root {
  --primary-color: #032c55;
  --green-color: #1caa0a;
  --pink-color: #d31666;
  --inactive-color: #98b1cb;
  --yellow-color: #ffd526;
   --background-color: #f5f9fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var( --background-color);
  -webkit-font-smoothing: antialiased;
  color: var(--primary-blue);
}

body,
input,
button {
  font-family: "Nunito Sans", sans-serif;
}
